<br/>
<div class="row">
  <div class="col s12 m4">
    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Ningzhou Zeng</span>
            <div class="center">
              <%= image_tag("me.jpeg", height: '267', width: '200') %>
            </div>
          </div>
          <div class="card-action">
            <p><b>Address:</b> 209 Simpson Ave, Lexington KY 40506</p>
            <p><b>Email:</b> saiop147@gmail.com</p>
            <p><b>Phone:</b> (859)447-5463</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m8">
    <div class="medium-word">
      <p>Hello! This is Ningzhou and I am currently a research assistant in the Institute for Biomedical Informatics, University of Kentucky. I have been working on serveral National Institute of Health (NIH) funded projects.</p>
      <p>I work on projects, write on my blogs, play basketball, and enjoy video games. Please find me on <a href="https://github.com/Eveyz" target="_blank">Github</a>, <a href="https://www.linkedin.com/in/ningzhou-zeng-aa1a3195/" target="_blank">Linkedin</a>, and <a href="https://twitter.com/saiop147" target="_blank">Twitter</a>. You may not find much of my work on Github as most of my projects are stored in Bitbucket which are heavily used in my group. If you are really interested on my projects, please feel free to contact me.</p>
      <p>Take a loot at my <a href="/cv.pdf" target="_blank">résumé</a> and feel free to contact me.</p>
    </div>
    <br/>

    <% if false %>
      <div>
        <h5>Education</h5>
        <div class="row">
          <div class="col s12 m2">
            <%= image_tag("SYSU.png", height: '70', width: '70') %>
          </div>
          <div class="col s12 m4">
            <div class="valign-wrapper">
              <p>Sun Yat-sen University</p>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="valign-wrapper">
              <p>Bachelor's Degree, Optical Information Science and Technology</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m2">
            <%= image_tag("cwru-b.jpg", height: '70', width: '70') %>
          </div>
          <div class="col s12 m4">
            <div class="valign-wrapper">
              <p>Case Western Reserve University</p>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="valign-wrapper">
              <p>Master's Degree, Computer Engineer</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br/>

<br/>