<ol>
  <li><p><b>Zeng N</b>, Zhang GQ, Cui L*. Evaluation of Relational and NoSQL Approaches for Patient Cohort Identification from Heterogeneous Data Sources. 2017 IEEE International Conference on Bioinformatics and Biomedicine (BIBM), 2017 International Workshop on Biomedical and Health Informatics (BHI), pp. 1135-1140.</p></li>
  <li>Tao S, <b>Zeng N</b>, Wu X, Li X, Zhu W, Cui L, Zhang GQ. A Data Capture Framework for Large-scale Interventional Studies with Survey Workflow Management. AMIA Jt Summits Transl Sci Proc. 2017 Jul 26;2017:278-286. eCollection 2017.</li>
</ol>