<div style="background-color: #F5F8FA; height: auto;">
  <br />
  <div class="row">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Home', root_path %></li>
        <li>
          Contact
        </li>
      </ul>
    </nav>
  </div>
  <div class="row" style="background-color: white;border: 1px solid #ecf0f1;">
    <br>
    <%= react_component 'Contact', { contact_list: @contact_list }, :div %>
    <br />
    <br />
    <br />
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
