<% provide(:title, 'ZNZ LLP') %>
<div class="row">
  <h1>Welcome to ZNZ LLP</h1>
  <%= link_to "Case Management", cases_path, class: 'button primary' %>
  <%= link_to "IPO", "welcomepages/ipo", class: 'button success' %>
  <%= link_to "Contact", "welcomepages/contact", class: 'button secondary' %>
  <%= link_to "Check Document", "welcomepages/check_document", class: 'button warning' %>
</div>
