<div style="background-color: #F5F8FA; height: auto;">
  <br />
  <div class="row" style="background-color: white;border: 1px solid #ecf0f1;">
    <br>
    <div class="small-9 small-centered columns">
      <%= react_component 'CaseContainer', { defending: @c1, adversary: @c2, company_list: @company_list }, :div %>
    </div>
    <br />
    <br />
    <br />
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>