<div class="row">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li style="font-size: 15px;"><%= link_to 'Home', root_path %></li>
      <li style="font-size: 15px;">
        <span class="show-for-sr">Current: </span> New Case
      </li>
    </ul>
  </nav>
  <hr>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="small-6 small-centered columns">
    <h1 style="color: #8e44ad;">New Case</h1>
    <hr>
    <%= render 'form', c: @case %>
    <br>
    <br>
    <br>
  </div>
  <div class="small-6 columns"></div>

</div>
